.tile{
    height: 90px;
    width: 90px;
    margin: 5px;
    border-radius: 50%;
    background-color: white;
}
.redTile {
    background-color: red!important;
}
.yellowTile {
    background-color: yellow!important;
}
html{
    background-color: darkgrey;
}
#gameBoard{
    height: 600px;
    width: 700px;
    display: flex;
    margin:0 auto;
    flex-wrap: wrap;
    background-color: navy;
}